<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
	    http://www.springframework.org/schema/beans/spring-beans.xsd
	    http://www.springframework.org/schema/security
	    http://www.springframework.org/schema/security/spring-security.xsd">
	
	<http use-expressions="true" auto-config="false" entry-point-ref="loginUrlAuthenticationEntryPoint">
		<intercept-url pattern="/resources/**" access="permitAll"/>
		<intercept-url pattern="/util/**" access="isAuthenticated()"/>
		<intercept-url pattern="/inicio" access="isAuthenticated()"/>

		<intercept-url pattern="/403" access="isAuthenticated()"/>
<!-- 		<intercept-url pattern="/usuaC/*" access="hasRole('ROLE_ADMIN')"/> -->
<!-- 		<intercept-url pattern="/atencion/*" access="hasAnyRole('ROLE_ADMIN','ROLE_USER')"/> -->

		<custom-filter position="FORM_LOGIN_FILTER" ref="twoFactorAuthenticationFilter" />
		<logout invalidate-session="true" logout-url="/j_spring_security_logout" logout-success-url="/"  delete-cookies="JSESSIONID"/>
		<access-denied-handler error-page="/403" />			
		<csrf disabled="true"/>	
	</http>

	<beans:bean id="twoFactorAuthenticationFilter" class="com.mkyong.common.util.AuthenticationFilter">
		<beans:property name="authenticationManager" ref="authenticationManager" />
		<beans:property name="authenticationFailureHandler" ref="failureHandler" />
		<beans:property name="authenticationSuccessHandler" ref="successHandler" />
		<beans:property name="filterProcessesUrl" value="/login" />
		<beans:property name="postOnly" value="true" />
	</beans:bean>

	<beans:bean xmlns="http://www.springframework.org/schema/beans" id="loginUrlAuthenticationEntryPoint" 
		class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">        
		<constructor-arg value="/"/>
    </beans:bean>
	
	<beans:bean id="successHandler" class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
		<beans:property name="defaultTargetUrl" value="/inicio" />
	</beans:bean>

	<beans:bean id="failureHandler" class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
		<beans:property name="defaultFailureUrl" value="/loginE" />
	</beans:bean>

	<authentication-manager id="authenticationManager"  alias="authenticationManager">
		<authentication-provider>
<!-- 			<user-service> -->
<!-- 				<user name="admin" password="123456" authorities="ROLE_ADMIN" /> -->
<!-- 				<user name="admin2" password="123456" authorities="ROLE_USER" /> -->
<!-- 			</user-service> -->
			<jdbc-user-service data-source-ref="dataSource"
               users-by-username-query="select USUARIO, CLAVE, ESTADO from TBL_USUARIO where USUARIO = ? and ESTADO = 1 "
               authorities-by-username-query="select USUARIO, ROL from TBL_USUARIO where USUARIO = ? and ESTADO = 1 " />
		</authentication-provider>
	</authentication-manager>

</beans:beans>